body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #00274C;
}

#homeScore {
    background: #FFCB05;
    width: 125px;
    height: 75px;
}
h3 {
    color:white;
    text-align:center;
}

#home1Btn, #home2Btn, #home3Btn, #guest1Btn, #guest2Btn, #guest3Btn {
    background-color: #FFCB05;
    margin-bottom:15px;
}

#home1Btn, #guest1Btn {
    margin-left:5%;
}

#guestScore {
    background: #FFCB05;
    width: 125px;
    height: 75px;
}